@import "./src/components/App/App";
@import "./src/components/Product/Product";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");

body {
  background-color: #f8f6f6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: subpixel-antialiased;
  margin: 0;
  padding: 0;
  min-width: 250px;
}
